@font-face {
	font-family: 'Visby Round CF';
	src: url('fonts/VisbyRoundCF-DemiBold.eot');
	src: url('fonts/VisbyRoundCF-DemiBold.woff2');
    src: url('fonts/VisbyRoundCF-DemiBold.woff');
	font-weight: normal;
}

@font-face {
	font-family: 'Visby Round CF';
	src: url('fonts/VisbyRoundCF-ExtraBold.eot');
	src: url('fonts/VisbyRoundCF-ExtraBold.woff2');
    src: url('fonts/VisbyRoundCF-ExtraBold.woff');
	font-weight: bold;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
 .parent {
	 margin-top: 150px;
	 color: white;
	 text-align: center;
	 margin-left: auto;
	 margin-right: auto;
	 background-color: rgba(0, 0, 0, 0.5);
	 width: 50%;
	 border-radius: 50px;
	 border: 3px solid white;
	 padding: 20px;
 }
.navbar {
	background-color: rgba(0, 0, 0, 0.4);
	color: white;
	font-size: 20px;
	position: -webkit-sticky;
  position: sticky;
	top: 0; /* required */
	box-shadow: 0px 7px 15px -1px rgba(0, 0, 0, 0.2);
	z-index:1
}
.navbar button:hover{
	transform: scale(1.1) skewy(-1deg);
}

.navbar a:hover{
	text-decoration: none;
	color: white;
}

.navbar h1 {
	margin-left: 50px;
	letter-spacing: 5px;
}

.navbar button {
	transition: all .2s ease-in-out;
	float: right;
	background-color: transparent;
	border: 3px solid white;
	color: white;
	border-radius: 30px;
	text-decoration: none;
	margin: 10px;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	letter-spacing: 5px;
	transform: skewY(1deg);
}

body {
	background: linear-gradient(322deg, #da9d4e, #87ffa7, #3da3b3, #5c7bde, #ff64a0, #ce4141);
	background-size: 1200% 1200%;
	font-family: 'Visby Round CF', sans-serif;
	-webkit-animation: AnimationName 17s ease infinite;
	-moz-animation: AnimationName 17s ease infinite;
	animation: AnimationName 17s ease infinite;
}

.bio {
	width: 50%;
	padding: 40pt;
	margin-top: 150px;
	margin-bottom: 150px;
	text-align: center;
	font-size: 16pt;
	letter-spacing: 0.5pt;
	color: white;
	font-weight: bold;
	border-radius: 50pt;
	margin-left: auto;
	margin-right: auto;
	border: solid 5px white;
}

.bio a {
	display: inline-block;
	padding-top: 5pt;
	text-decoration:none;
	color: white;
	transition: 0.2s color ease-in;
	font-weight: normal;
	-webkit-text-stroke: 1px #8C3BFF;
	font-weight: bold;
	font-size: 26px;
}

.bio a:hover {
	color: #a9fdfe;
	transition: 0.2s color ease-in;
	-webkit-text-stroke: 0px #7ffcfe;

}

	#av {
    height: 112px;
    border-radius: 100%;
}

.navbox img {
	width: 50pt;
	padding: 2pt;
	margin-top: 18pt;
	margin-left: 2pt;
	transition: transform 0.1s ease-in;
}

.navbox img:hover {
	transform: scale(1.1, 1.1);
}
.toolkit {
	padding: 20px;
	margin: 50px;
	margin-top: 100px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	background: rgba(0, 0, 0, 0.45);
	width: 70%;
	border-radius: 50px;
	color: white;
	font-size: 18px;
}

.resumecontainer {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	margin-bottom: 100px;
}

.resume {
	padding: 15px;
	background: transparent;
	border: solid 3px white;
	border-radius: 30px;
	width: 15%;
	font-size: 20px;
	color: white;
	transition: all 0.1s ease-in;
	display: inline-block;
}

.resume:hover {
	text-decoration: none;
	color: white;
	transform: scale(1.1, 1.1);
	background-color: rgba(0,0,0,0.5);
}

.parenttools {
	column-count: 2;
	column-gap: 40px;
}

.categories {
/*	column-count: 3;
	column-gap: 3%; */
	width: 60%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	color: white;
	font-size: 24px;
	font-weight: lighter;
	overflow:visible
}

#category {
	padding: 0px;
	color: white;
	background: white;
	border-radius: 50px;
	border: none;
	width: 100%;
	height: 10%;
	object-fit: fill;
	box-shadow:2px 8px 8px rgba(0, 0, 0, 0.30);
	margin-bottom: 8%;
}

.overlay {
	transition: all .4s ease;
	font-size: 36px;
	background-color: rgba(0,0,0,0.2);
	width: 100%;
	height: 100%;
	border-radius: 50px;
	padding: 5%;
	letter-spacing: 5px;

}

#category:hover .overlay{
	background-color: rgba(0,0,0,0.5);
	font-size: 38px;
	border: solid 3px white;
}

.one{
	transition: all .2s ease;
	transform: rotate(1deg);
}
.two{
	transition: all .2s ease;
	transform: rotate(-1deg);
}
.one:hover{
	transform: rotate(0deg);
	transform: scale(1.02,1.02);
}
.two:hover{
	transform: rotate(0deg);
	transform: scale(1.02,1.02);
}
/*
.graphic:hover {
	transform: rotate(2deg);
}
/*
.ux {
	transform: skewY(1.4deg);
}

.character {
	transform: skewY(-1deg);
}
*/
