@font-face {
	font-family: 'Visby Round CF';
	src: url('fonts/VisbyRoundCF-DemiBold.eot');
	src: url('fonts/VisbyRoundCF-DemiBold.woff2');
    src: url('fonts/VisbyRoundCF-DemiBold.woff');
	font-weight: normal;
}

@font-face {
	font-family: 'Visby Round CF';
	src: url('fonts/VisbyRoundCF-ExtraBold.eot');
	src: url('fonts/VisbyRoundCF-ExtraBold.woff2');
    src: url('fonts/VisbyRoundCF-ExtraBold.woff');
	font-weight: bold;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.navbar {
	background-color: rgba(255, 255, 255, 0.34);
	color: white;
	font-size: 20px;
	position: -webkit-sticky;
  position: sticky;
	top: 0; /* required */
}

.navbar h1 {
	margin-left: 50px;
	letter-spacing: 5px;
}

.navbar button {
	float: right;
	background-color: transparent;
	border: 3px solid white;
	color: white;
	border-radius: 30px;
	text-decoration: none;
	margin: 10px;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	letter-spacing: 5px;
	transform: skewY(1deg);
}

body {
	background: linear-gradient(322deg, #da9d4e, #87ffa7, #3da3b3, #5c7bde, #ff64a0, #ce4141);
	background-size: 1200% 1200%;
	font-family: 'Visby Round CF', sans-serif;
	-webkit-animation: AnimationName 17s ease infinite;
	-moz-animation: AnimationName 17s ease infinite;
	animation: AnimationName 17s ease infinite;
}

.bio {
	width: 50%;
	padding: 40pt;
	margin-top: 150px;
	margin-bottom: 150px;
	text-align: center;
	font-size: 16pt;
	letter-spacing: 0.5pt;
	color: white;
	font-weight: bold;
	border-radius: 50pt;
	margin-left: auto;
	margin-right: auto;
	border: solid 5px white;
}

.bio a {
	display: inline-block;
	padding-top: 5pt;
	text-decoration:none;
	color: white;
	transition: 0.2s color ease-in;
	font-weight: normal;
	-webkit-text-stroke: 1px #8C3BFF;
	font-weight: bold;
	font-size: 26px;
}

.bio a:hover {
	color: #a9fdfe;
	transition: 0.2s color ease-in;
	-webkit-text-stroke: 0px #7ffcfe;

}

.navbox img {
	width: 50pt;
	padding: 2pt;
	margin-top: 18pt;
	margin-left: 2pt;
	transition: transform 0.1s ease-in;
}

.navbox img:hover {
	transition: transform 0.1s ease-in;
	transform: scale(1.1, 1.1);
}
.toolkit {
	padding: 20px;
	margin: 50px;
	margin-top: 100px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	background: rgba(0, 0, 0, 0.45);
	width: 70%;
	border-radius: 50px;
	color: white;
	font-size: 18px;
}

.resumecontainer {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	margin-bottom: 100px;
}

.resume {
	padding: 20px;

	background: transparent;
	border: solid 3px white;
	border-radius: 30px;
	width: 20%;
	font-size: 20px;
	color: white;
}

.resume:hover {
	text-decoration: none;
}

.parenttools {
	column-count: 2;
	column-gap: 40px;
}

.categories {
	column-count: 3;
	column-gap: 3%;
	width: 60%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	color: white;
	font-size: 24px;
	font-weight: lighter;
}

#category {
	padding: 100px;
	color: white;
	background: white;
	border-radius: 50px;
	border: none;
	width: 100%;
	background-image: url(./images/PlantAR_icon.png);
	object-fit: fill;
}
